{% extends "collection/collectionbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block page_content %}
{{ super() }}

<div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="200">
                <li class="active"><a href="{{ url_for('collection.collection_home') }}">充值管理</a></li>
                <li><a href="{{ url_for('collection.collection_inmanagement') }}">入库管理</a></li>
                <li><a href="{{ url_for('collection.collection_outmanagement') }}">出库管理</a></li>
                <li><a href="{{ url_for('collection.collection_others') }}">其他交易</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h1>账户充值管理</h1>
            </br>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-xs-5">
            {% if paylist|length == 0 %}
            </br>
            </br>
            <h1>暂无记录</h1>
            {% else %}
            </br>
            <table class="table table-hover">
                <caption>最近20次您的充值记录</caption>
                <thead>
                    <tr>
                        <th>交易时间</th>
                        <th>被充值账户</th>
                        <th>充值金额</th>
                    </tr>
                </thead>
                <tbody>
                {% for pay in paylist %}
                    <tr>
                        <td>{{ pay.time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ User.query.filter_by(id=pay.userid).first().email }}</td>
                        <td>{{ pay.amount/100 }}元</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
</div>
{% endblock %}


