{% extends "collection/collectionbase.html" %}

{% block page_content %}
{{ super() }}
<div class="row">
        <div class="col-xs-4" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="200">
                <li><a href="{{ url_for('collection.collection_home') }}">充值管理</a></li>
                <li><a href="{{ url_for('collection.collection_inmanagement') }}">入库管理</a></li>
                <li class="active"><a href="{{ url_for('collection.collection_outmanagement') }}">出库管理</a></li>
                <li><a href="{{ url_for('collection.collection_others') }}">其他管理</a></li>
            </ul>
        </div>
        <div class="col-xs-8">
            <h1>找零为{{ token/100 }}元</h1>
            <a href="{{ url_for('collection.collection_outmanagement') }}"><button type="button" class="btn btn-primary ">确认</button></a>
        </div>

</div>
{% endblock %}
